header, footer{
    width: 1100px;
    margin: 0 auto;
    /* background-color: bisque; */
}
.header-title{
    margin-left: 5px;
}
 nav{
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    margin-bottom: 20px;
 }
 .navigation ul{
    display: flex;
 }
 .navigation ul li{
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 900px;
 }
 .header-container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 50px;
    /* background-image: url("Circle design.svg") */
    /* width: 50%; */
 }
 .header-contents{
    padding-left: 10px;
    width: 582px;    
 }
 .fa-arrow-right{
   background-color: transparent;
 }
 .header-img{
    margin: 0 auto;
    background-image: linear-gradient(red, yellow, blue);
    border-radius: 50%;
    padding-left: 10px;
 }
 .header-img img{
   width: 240px;
    height: 214px;
 }
 .header-btn{
    background-color: rgba(224, 44, 109, 1);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 15px;
 }
 .see-more-btn{
   position: relative;
   right: -630px;
   color: rgba(224, 44, 109, 1);
   background-color: transparent;
   border: none;
   width: 50%;
   margin-bottom: 50px;
 }
 .logos{
    border: 1px solid gray;
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding-top: 7px;
    padding-bottom: 7px;
    /* align-items: center; */

 }

 /* Main styles */

 .main-container{
   width: 750px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 15px;
   
 }
 .card{
   box-shadow: 1px 1px 1px 1px;
   padding-left: 5px;
   border-radius: 3px;
 }
 .card img{
   width: 93%;
   padding: 10px 0 5px 5px;
 }

 .rating, .card-description{
   /* font-weight: 800; */
   font-size: 15px;
 }
 .features{
   display: flex;
   align-items: center;
   margin: 0 auto;
   width: 800px;
   gap: 30px;
 }
 .features-para{
   font-size: 15px;
 }

 /* Footer styles */
 footer{
   background-color: rgb(11, 13, 72);
   margin-top: 50px;
   color: white;
 }
 .footer-container{
   width: 260px;
   margin: 0 auto;
   padding: 10px;
   /* gap: 20px; */
 }
 .footer-para{
   font-size: 15px;
 }
 .footer-title, .footer-para{
   text-align: center;
 }
 .icons{
   display: flex;
   justify-content: space-evenly;

 }